/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
/* End Global Rules */
.parent {
  background-color: #ff7979;
}
.header .container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  width: 30px;
}
/* End Global Rules */
/*(((((((((componenet start))))))))))))*/
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: 800;
  margin: 0;
}

.special-heading + p {
  font-size: 20px;
  margin: -30px 0 0 0;
  text-align: center;
  color: #797979;
}
/*(((((((((componenet end))))))))))))*/

/*here we go with the header */
/*start header */
.header {
  padding: 20px;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 50px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  z-index: 100;
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.5s;
}
.header .links .icon span:last-child {
  height: 3px;
  width: 100%;
}
.header .links ul {
  background-color: #bdbdbd;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 190px;
  top: calc(100% + 20px);
  display: none;
  z-index: 100;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #b9b9b9 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: #333 solid 1px;
} /*end header */
/*start the "landing"*/

.landing {
  background-image: url(pics/image.png);
  background-size: cover;
  height: calc(100vh - 88px);
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: #ffa8a4;
  text-shadow: 0 0 5px #ffa8a4, 0 0 10px #ff7e7a, 0 0 20px #ff4e4a,
    0 0 40px #ff1e1a;
  cursor: default;
  font-weight: bold;
  font-size: 40px;
}
.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}

/*end the "landing"*/
/*futures start*/
.ticon {
  width: 150px;
}
.futures {
  padding: 60px;
  margin-bottom: -100px;
  background-color: #ebeced;
  box-shadow: 0px -61px 127px 137px #ebeced;
}
.futures .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 3fr));

  grid-gap: 20px;
}
.futures .feet {
  margin: 80px;
  padding: 20px;
  text-align: center;
}
.futures .feet .ticon {
  box-shadow: 0px 0px 4px 1px;
  border: 10px solid #000000;
  background-color: #ffa8a4;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.futures .feet .ticon:hover {
  box-shadow: 0px 0px 10px 1px #ff0000;
}

/*futures end*/
/*services start */

.services {
  background-color: #ffffff;
  box-shadow: 0px -163px 113px 0px #ffffff;

  padding: 20px 0;
}
.container.srv {
  margin: 0 auto;
  width: 1200px;
}
.services-content .srv {
  display: flex;
}

.srv img:not(.zbig) {
  padding: 2px;
  border: solid 3px;
  width: 40px;
  height: 40px;
}
.services.main .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 100px 0px 0px 0px;
}
.col .zbig {
  width: 150px;
  height: auto;
}

.services .services-content .srv {
  margin-bottom: 20px;
}
.srv h3 {
  margin: 0px 0px 0px 10px;
}
/*services end */
